EULA_AGREED={{ EULA_AGREED }}
PRIVACY_POLICY_AGREED={{ PRIVACY_POLICY_AGREED }}
USE_KSN={{ USE_KSN }}
LOCALE={{ LOCALE }}
INSTALL_LICENSE={{ INSTALL_LICENSE }}
UPDATER_SOURCE={{ UPDATER_SOURCE }}
PROXY_SERVER={{ PROXY_SERVER }}
UPDATE_EXECUTE={{ UPDATE_EXECUTE }}
KERNEL_SRCS_INSTALL={{ KERNEL_SRCS_INSTALL }}
ADMIN_USER={{ ADMIN_USER }}
CONFIGURE_SELINUX={{ CONFIGURE_SELINUX }}
USE_GUI={{ USE_GUI }}