EULA_AGREED{% if EULA_AGREED %}={{ EULA_AGREED }}{% endif %}
PRIVACY_POLICY_AGREED{% if PRIVACY_POLICY_AGREED %}={{ PRIVACY_POLICY_AGREED }}{% endif %}
USE_KSN{% if USE_KSN %}={{ USE_KSN }}{% endif %}
LOCALE{% if LOCALE %}={{ LOCALE }}{% endif %}
INSTALL_LICENSE{% if INSTALL_LICENSE %}={{ INSTALL_LICENSE }}{% endif %}
UPDATER_SOURCE{% if UPDATER_SOURCE %}={{ UPDATER_SOURCE }}{% endif %}
PROXY_SERVER{% if PROXY_SERVER %}={{ PROXY_SERVER }}{% endif %}
UPDATE_EXECUTE{% if UPDATE_EXECUTE %}={{ UPDATE_EXECUTE }}{% endif %}
KERNEL_SRCS_INSTALL{% if KERNEL_SRCS_INSTALL %}={{ KERNEL_SRCS_INSTALL }}{% endif %}
ADMIN_USER{% if ADMIN_USER %}={{ ADMIN_USER }}{% endif %}
CONFIGURE_SELINUX{% if CONFIGURE_SELINUX %}={{ CONFIGURE_SELINUX }}{% endif %}
USE_GUI{% if USE_GUI %}={{ USE_GUI }}{% endif %}
