{% if EULA_AGREED %}EULA_AGREED={{ EULA_AGREED }}{% endif %}

{% if PRIVACY_POLICY_AGREED %}PRIVACY_POLICY_AGREED={{ PRIVACY_POLICY_AGREED }}{% endif %}

{% if USE_KSN %}USE_KSN={{ USE_KSN }}{% endif %}

{% if LOCALE %}LOCALE={{ LOCALE }}{% endif %}

{% if INSTALL_LICENSE %}INSTALL_LICENSE={{ INSTALL_LICENSE }}{% endif %}

{% if UPDATER_SOURCE %}UPDATER_SOURCE={{ UPDATER_SOURCE }}{% endif %}

{% if PROXY_SERVER %}PROXY_SERVER={{ PROXY_SERVER }}{% endif %}

{% if UPDATE_EXECUTE %}UPDATE_EXECUTE={{ UPDATE_EXECUTE }}{% endif %}

{% if KERNEL_SRCS_INSTALL %}KERNEL_SRCS_INSTALL={{ KERNEL_SRCS_INSTALL }}{% endif %}

{% if ADMIN_USER %}ADMIN_USER={{ ADMIN_USER }}{% endif %}

{% if CONFIGURE_SELINUX %}CONFIGURE_SELINUX={{ CONFIGURE_SELINUX }}{% endif %}

{% if USE_GUI %}USE_GUI={{ USE_GUI }}{% endif %}

