KLNAGENT_SERVER{% if KLNAGENT_SERVER %}={{ KLNAGENT_SERVER }}{% endif %}
KLNAGENT_AUTOINSTALL{% if KLNAGENT_AUTOINSTALL %}={{ KLNAGENT_AUTOINSTALL }}{% endif %}
EULA_ACCEPTED{% if EULA_ACCEPTED %}={{ EULA_ACCEPTED }}{% endif %}
KLNAGENT_PROXY_USE{% if KLNAGENT_PROXY_USE %}={{ KLNAGENT_PROXY_USE }}{% endif %}
KLNAGENT_PROXY_ADDRESS{% if KLNAGENT_PROXY_ADDRESS %}={{ KLNAGENT_PROXY_ADDRESS }}{% endif %}
KLNAGENT_PROXY_LOGIN{% if KLNAGENT_PROXY_LOGIN %}={{ KLNAGENT_PROXY_LOGIN }}{% endif %}
KLNAGENT_PROXY_PASSWORD{% if KLNAGENT_PROXY_PASSWORD %}={{ KLNAGENT_PROXY_PASSWORD }}{% endif %}
KLNAGENT_VM_VDI{% if KLNAGENT_VM_VDI %}={{ KLNAGENT_VM_VDI }}{% endif %}
KLNAGENT_VM_OPTIMIZE{% if KLNAGENT_VM_OPTIMIZE %}={{ KLNAGENT_VM_OPTIMIZE }}{% endif %}
KLNAGENT_TAGS{% if KLNAGENT_TAGS %}={{ KLNAGENT_TAGS }}{% endif %}
KLNAGENT_UDP_PORT{% if KLNAGENT_UDP_PORT %}={{ KLNAGENT_UDP_PORT }}{% endif %}
KLNAGENT_PORT{% if KLNAGENT_PORT %}={{ KLNAGENT_PORT }}{% endif %}
KLNAGENT_SSLPORT{% if KLNAGENT_SSLPORT %}={{ KLNAGENT_SSLPORT }}{% endif %}
KLNAGENT_USESSL{% if KLNAGENT_USESSL %}={{ KLNAGENT_USESSL }}{% endif %}
KLNAGENT_GW_MODE{% if KLNAGENT_GW_MODE %}={{ KLNAGENT_GW_MODE }}{% endif %}
KLNAGENT_GW_ADDRESS{% if KLNAGENT_GW_ADDRESS %}={{ KLNAGENT_GW_ADDRESS }}{% endif %}
