{% if KLNAGENT_SERVER %}KLNAGENT_SERVER={{ KLNAGENT_SERVER }}{% endif %}

{% if KLNAGENT_AUTOINSTALL %}KLNAGENT_AUTOINSTALL={{ KLNAGENT_AUTOINSTALL }}{% endif %}

{% if EULA_ACCEPTED %}EULA_ACCEPTED={{ EULA_ACCEPTED }}{% endif %}

{% if KLNAGENT_PROXY_USE %}KLNAGENT_PROXY_USE={{ KLNAGENT_PROXY_USE }}{% endif %}

{% if KLNAGENT_PROXY_ADDR %}KLNAGENT_PROXY_ADDR={{ KLNAGENT_PROXY_ADDR }}{% endif %}

{% if KLNAGENT_PROXY_LOGIN %}KLNAGENT_PROXY_LOGIN={{ KLNAGENT_PROXY_LOGIN }}{% endif %}

{% if KLNAGENT_PROXY_PASSWORD %}KLNAGENT_PROXY_PASSWORD={{ KLNAGENT_PROXY_PASSWORD }}{% endif %}

{% if KLNAGENT_VM_VDI %}KLNAGENT_VM_VDI={{ KLNAGENT_VM_VDI }}{% endif %}

{% if KLNAGENT_VM_OPTIMIZE %}KLNAGENT_VM_OPTIMIZE={{ KLNAGENT_VM_OPTIMIZE }}{% endif %}

{% if KLNAGENT_TAGS %}KLNAGENT_TAGS={{ KLNAGENT_TAGS }}{% endif %}

{% if KLNAGENT_UDP_PORT %}KLNAGENT_UDP_PORT={{ KLNAGENT_UDP_PORT }}{% endif %}

{% if KLNAGENT_PORT %}KLNAGENT_PORT={{ KLNAGENT_PORT }}{% endif %}

{% if KLNAGENT_SSLPORT %}KLNAGENT_SSLPORT={{ KLNAGENT_SSLPORT }}{% endif %}

{% if KLNAGENT_USESSL %}KLNAGENT_USESSL={{ KLNAGENT_USESSL }}{% endif %}

{% if KLNAGENT_GW_MODE %}KLNAGENT_GW_MODE={{ KLNAGENT_GW_MODE }}{% endif %}

{% if KLNAGENT_GW_ADDRESS %}KLNAGENT_GW_ADDRESS={{ KLNAGENT_GW_ADDRESS }}{% endif %}
