KLNAGENT_SERVER={{ KLNAGENT_SERVER }}
KLNAGENT_AUTOINSTALL={{ KLNAGENT_AUTOINSTALL }}
EULA_ACCEPTED={{ EULA_ACCEPTED }}
KLNAGENT_PROXY_USE={{ KLNAGENT_PROXY_USE }}
KLNAGENT_PROXY_ADDRESS={{ KLNAGENT_PROXY_ADDRESS }}
KLNAGENT_PROXY_LOGIN={{ KLNAGENT_PROXY_LOGIN }}
KLNAGENT_PROXY_PASSWORD={{ KLNAGENT_PROXY_PASSWORD }}
KLNAGENT_VM_VDI={{ KLNAGENT_VM_VDI }}
KLNAGENT_VM_OPTIMIZE={{ KLNAGENT_VM_OPTIMIZE }}
KLNAGENT_TAGS={{ KLNAGENT_TAGS }}
KLNAGENT_UDP_PORT={{ KLNAGENT_UDP_PORT }}
KLNAGENT_PORT={{ KLNAGENT_PORT }}
KLNAGENT_SSLPORT={{ KLNAGENT_SSLPORT }}
KLNAGENT_USESSL={{ KLNAGENT_USESSL }}
KLNAGENT_GW_MODE={{ KLNAGENT_GW_MODE }}
KLNAGENT_GW_ADDRESS={{ KLNAGENT_GW_ADDRESS }}